
.headerContainer{
    height:5rem;
    border-bottom: 1px solid var(--gray-650);
    
    
    
}

.headerContent{
    max-width: 1120px;
    height:5rem;
    margin: 0 auto;
    padding: 0 0.5rem;


    display: flex;
    align-items: center;

    img{
        width:6rem
    }
    nav{
        margin-left: auto;
        height:5rem;

        a{
            
            display: inline-block;
            position: relative;
            padding:0 0.5rem;
            height:5rem;
            line-height:5rem;
            color: var(--gray-300);

            transition: color 0.2s;

            &:hover{
                color: var(--white)
            }
            &+a{
                margin-left:auto;
            }

            &.active{
                color: var(--white);
                font-weight: 700;

            }

            &.active::after{
                content: "";
                height:3px;
                border-radius: 3px 3px 0 0;

                width:100%;
                position: absolute;
                bottom:1px;
                left: 0;
                background:var(--green-500)

            }

        }


    }
    .signinButton{
        height:3rem;
        border-radius:3rem;
        max-width:12rem;
    
        background: #333644;
    
        border:0;
    
        margin-left: auto;
    
    
        padding:0 1.5rem;
    
        display:flex;
        align-items:center;
        justify-content: center;
    
    
        color: var(--white);
        font-weight:bold;
    
        svg{
            height:1rem;
            width: 1rem;
    
            
        }
        svg:first-child{
            margin-right: .5rem;
        }
    
        svg.closeIcon{
            margin-left:.5rem;
        }
    
        transition:filter .2s;
    
        &:hover{
            filter: brightness(0.9);
        }
    
    
    
    }
    
}